body {
  font-family: Arial, sans-serif;
  background-color: #fad45e;
  color: #eab308; }

header {
  background-color: #eab308;
  color: #713f12;
  padding: 10px;
  text-align: center; }

nav a {
  color: #713f12;
  margin: 0 10px;
  text-decoration: none; }

footer {
  background-color: #eab308;
  color: #713f12;
  padding: 10px;
  text-align: center;
  position: fixed;
  width: 100%;
  bottom: 0; }

#content {
  padding: 20px; }
