<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{% block title %}My Site{% endblock %}</title>

        <link href="https://unpkg.com/sanitize.css" rel="stylesheet" />
        <link rel="stylesheet" href="/static/css/global.css" />
    </head>
    <body>
        <header class="header">
            <!-- <h1 class="header-title">mp5 player</h1>
            <nav class="header-nav">
                <a href="/mp3-player">mp3 player</a>
                <a href="/mp4-player">mp4 player</a>
            </nav> -->
            hello, test!
        </header>

        <div id="content">{% block content %}{% endblock %}</div>

        <footer></footer>
    </body>
</html>
